body {
  background-color: black;
}

header {
  display: grid;
  justify-items: center;
}

section {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
